 	<form id="questionForm" method="post" action="/poll">
  	
  		<p>Question</p>
  		<input type="text" name="question" id="question" value="" required />
  		
  		<p>Answers</p>
  		<input type="text" name="answer[]" value=""  required />
  		<input type="text" name="answer[]" value=""  required />
  		<button id="remove" style="display: none;">Remove - </button>

  		<button id="add">Add + </button>
  	
  	<button type="submit">Create Poll</button>
  	</form>

<script>
  $(document).ready(function() {

    	$('#add').click( function(e) {
    		e.preventDefault;
    		$('<input type="text" name="answer[]" value="" class="optionalAnswer"  required />').insertBefore('#remove');
    		$('#remove').show();
    	});


    	$('#remove').click( function(e) {
    		e.preventDefault;
    		$('.optionalAnswer').last().remove();
    			
    			// if last child DOES !NOT have a class of optional answer,
    			// we know we have our origional two left - so hold fire!!
    			if (!$('input[type=text]').last().hasClass('optionalAnswer')) {
    				$('#remove').hide();
    			}

    		});

    });
</script>